<!DOCTYPE html>
<html>
<head>
	<title>Playing with Angular</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
</head>
<body ng-app>
	<input type="text" ng-model="myText">
	<p> You typed {{myText}} </p>
	<br>
	<!-- <button ng-init="count=10" ng-click="count=count-1" > DECREMENT </button>
	<button ng-init="count=10" ng-click="count=count+1" > INCREMENT </button> -->
 	<button ng-init="count = 10" ng-click="count = count - 1; other = other + 1" ng-model="myButton"> CLICK ME! </button>
  	<p ng-show="other"> You clicked {{count}} times. </p>
  	<br>
  	<p ng-show="other"> You clicked {{other}} times </p>

</body>
</html>
