.wrapper {
  padding: 20px;
  background-color: #fafafa;
  border: 1pt solid #ddd;
}

.prop {
  padding: 20px 0;
}

.warning{
	color: red;
}

.prop {
	font-size: 20px;
}

.pos {
	color: green;
	font-size: 14px;
}

.sendr {
	color: hotpink;

}